#pop-dialog-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20180000;
    text-align: center;
}

#pop-dialog-container #pop-dialog {
    width: 70%;
    height: 200px;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20180001;
}

#pop-dialog #pop-dialog-close {
    position: absolute;
    width: 60px;
    height: 60px;
}

#pop-dialog {
    text-align: center;
    opacity: 0;
}

#pop-dialog #pop-dialog-msg {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    white-space: normal;
    word-break: normal;
    word-wrap: break-word; 
}

#pop-dialog #pop-dialog-bottom {
    position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}